:root {
  
// Color
  --primary-main-color: #2a9e59;
  --primary-light-color: #62d087;
  --secondary-main-color: #f48142;
  --secondary-light-color: #ffb270;


// Font size
  --font-large-size: 1.75rem
  --font-medium-size: 1.5rem;
  --font-regular-size: 1.25rem;
  --font-small-size: 1rem;
  --font-micro-size: 0.75rem;

  //padding
  --basic-padding: 1rem;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 90%;
  min-height: 80rem;
  margin: auto;
}

main {
  display: flex;
  flex-direction: row;
}