:root {
  
// Color
  --primary-color: ;

// Font size
  --font-large-size: 1.75rem
  --font-medium-size: 1.5rem;
  --font-regular-size: 1.25rem;
  --font-small-size: 1rem;
  --font-micro-size: 0.75rem;

  //padding
  --basic-padding: 1rem;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  min-height: 80rem;
  margin: auto;
}

main {
  display: flex;
  flex-direction: row;
}