.recipe {
  flex: 1;
  background-color: yellowgreen;
  padding: var(--basic-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__spinner i {
    font-size: 3rem;
    color: var(--secondary-main-color);
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
