:root {
  // Color
  --primary-main-color: #a5c2b8;
  --primary-dark-color: #4f8f78;
  --primary-light-color: #e8f5e9;
  --secondary-main-color: #ffa726;
  --secondary-dark-color: #c8b900;
  --secondary-light-color: #fffde7;

  // Font size
  --font-large-size: 1.75rem;
  --font-medium-size: 1.5rem;
  --font-regular-size: 1rem;
  --font-small-size: 0.75rem;
  --font-micro-size: 0.5rem;

  //padding
  --basic-padding: 1rem;

  //border radius
  --basic-radius: 10px;
}
html {
  @include respond(tab-land) {
    font-size: 87.5%;
  }
  @include respond(tab-port) {
    font-size: 62.5%;
  }
  @include respond(mobile) {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 80%;
  min-height: 100vh;
  margin: 2rem auto;
  @include respond(tab-land) {
    max-width: 90%;
  }
}

main {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: var(--font-large-size);
  color: var(--primary-dark-color);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-medium-size);
  font-weight: 500;
  color: var(--primary-dark-color);
  margin-bottom: 2rem;
}

i {
  color: var(--secondary-main-color);
}
