button {
  background: var(--primary-light-color);
  border: none;
  border-radius: var(--basic-radius);
  outline: none;
  padding: 0;
  cursor: pointer;
}
button:hover,
a:hover {
  transform: translateY(-2px);
}

ul {
  list-style: none;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.spinner i {
  font-size: 3rem;
  color: var(--secondary-main-color);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  margin: 1rem 0 0 1rem;
}
