button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0;
}
button:hover {
  transform: translateY(-2px) scale(1.03);
}

ul {
  list-style: none;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

i {
  color: var(--secondary-main-color);
}

.spinner i {
  font-size: 3rem;
  color: var(--secondary-main-color);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  margin: 1rem 0 0 1rem;
}
