.header {
  background-color: var(--primary-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  border-radius: var(--basic-radius) var(--basic-radius) 0 0;

  @include respond(tab-port) {
    padding: 0.75rem;
  }

  &__logo {
    display: flex;
    align-items: center;

    &__img {
      width: 3rem;
    }
    &__text {
      font-size: var(--font-large-size);
      @include respond(tab-port) {
        display: none;
        overflow: auto;
      }
    }
  }

  &__search {
    font-size: var(--font-regular-size);
    display: flex;
    justify-content: center;

    &__input {
      width: 25rem;
      height: 2.5rem;
      border: none;
      border-radius: var(--basic-radius);
      font-size: inherit;
      font-family: inherit;
      padding: 0.5rem;
      margin-right: 0.25rem;

      @include respond(tab-port) {
        width: 40vw;
      }
    }
    &__btn {
      width: 5rem;
      height: 2.5rem;
      font-size: inherit;
      font-family: inherit;
    }
  }

  &__bookmarks {
    font-size: var(--font-regular-size);
    position: relative;
    height: 100%;

    &:hover &__content,
    &__content:hover {
      opacity: 1;
      visibility: visible;
    }
    &__btn {
      font-size: inherit;
      font-family: inherit;
      margin-top: 2.5rem;
      background: transparent;
      @include respond(tab-port) {
        margin-top: 1.75rem;
      }
    }

    &__content {
      position: absolute;
      width: 20rem;
      background-color: var(--primary-light-color);
      top: 6rem;
      right: -1.05rem;
      opacity: 0;
      visibility: hidden;
      @include respond(tab-port) {
        top: 5.25rem;
        right: -0.75rem;
      }
    }
    &__add-recipe {
      margin-right: 1rem;
    }
  }
}
