.header {
  background-color: var(--primary-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  border-radius: var(--basic-radius) var(--basic-radius) 0 0;

  @include respond(tab-port) {
    padding: 2.75rem;
    flex-wrap: wrap;
    height: 10rem;
    align-content: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    &__img {
      width: 3rem;
    }
    &__text {
      font-size: var(--font-large-size);
    }
  }

  &__search {
    font-size: var(--font-regular-size);
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    @include respond(tab-port) {
      order: 1;
      flex: 0 0 100%;
      width: 100%;
    }

    &__input {
      flex: 1;
      height: 2.5rem;
      border: none;
      border-radius: var(--basic-radius);
      font-size: inherit;
      font-family: inherit;
      padding: 0.5rem;
      margin-right: 0.25rem;
      @include respond(tab-port) {
        max-width: 36rem;
      }
    }
    &__btn {
      width: 5rem;
      height: 2.5rem;
      font-size: inherit;
      font-family: inherit;
    }
  }

  &__bookmarks {
    font-size: var(--font-regular-size);
    position: relative;

    &:hover &__content,
    &__content:hover {
      opacity: 1;
      visibility: visible;
    }
    &__btn {
      font-size: inherit;
      font-family: inherit;
      margin-top: 0.4rem;
      background: transparent;
      @include respond(tab-port) {
        margin-top: -0.25rem;
      }
    }

    &__content {
      position: absolute;
      width: 20rem;
      background-color: var(--primary-light-color);
      top: 3.8rem;
      right: -1.05rem;
      opacity: 0;
      visibility: hidden;
      @include respond(tab-port) {
        top: 6.75rem;
        right: -2.75rem;
      }
    }
    &__add-recipe {
      margin-right: 1rem;
    }
  }
}
