button {
  background: var(--primary-light-color);
  border: none;
  border-radius: var(--basic-radius);
  outline: none;
  padding: 0;
  cursor: pointer; }

button:hover {
  transform: translateY(-2px); }

ul {
  list-style: none;
  padding: 0; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  cursor: pointer; }

.spinner i {
  font-size: 3rem;
  color: var(--secondary-main-color);
  animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.error-message {
  margin: 1rem 0 0 1rem; }
 {
  display: flex;
  flex-direction: row; }

h1 {
  font-size: var(--font-large-size);
  color: var(--primary-dark-color);
  margin: 1rem 0; }

h2 {
  font-size: var(--font-medium-size);
  font-weight: 500;
  color: var(--primary-dark-color);
  margin-bottom: 2rem; }

i {
  color: var(--secondary-main-color); }

button {
  background: var(--primary-light-color);
  border: none;
  border-radius: var(--basic-radius);
  outline: none;
  padding: 0;
  cursor: pointer; }

button:hover {
  transform: translateY(-2px); }

ul {
  list-style: none;
  padding: 0; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  cursor: pointer; }

.spinner i {
  font-size: 3rem;
  color: var(--secondary-main-color);
  animation: rotate 2s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.error-message {
  margin: 1rem 0 0 1rem; }

.header {
  background-color: var(--primary-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 2rem;
  border-radius: var(--basic-radius) var(--basic-radius) 0 0; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo__img {
      width: 3rem; }
    .header__logo__text {
      font-size: 2rem; }
  .header__search {
    flex: 0 0 40%;
    font-size: var(--font-regular-size); }
    .header__search__input {
      width: 17rem;
      height: 2.5rem;
      border: none;
      border-radius: var(--basic-radius);
      font-size: inherit;
      padding: 0.5rem; }
    .header__search__btn {
      width: 5rem;
      height: 2.5rem;
      font-size: inherit; }
  .header__bookmarks {
    font-size: var(--font-regular-size);
    position: relative;
    height: 100%; }
    .header__bookmarks:hover .header__bookmarks__content, .header__bookmarks__content:hover {
      opacity: 1;
      visibility: visible; }
    .header__bookmarks__btn {
      font-size: inherit;
      margin-top: 2.6rem;
      background: transparent; }
    .header__bookmarks__content {
      position: absolute;
      width: 20rem;
      background-color: var(--primary-light-color);
      top: 6rem;
      right: -2rem;
      opacity: 0;
      visibility: hidden; }
    .header__bookmarks__add-recipe {
      margin-right: 1rem; }

.list {
  flex: 0 0 30%;
  background-color: var(--primary-light-color);
  border-radius: 0 0 0 var(--basic-radius); }
  .list__pagination {
    position: relative;
    margin-bottom: 2rem; }
    .list__pagination button {
      width: 5rem;
      height: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.12); }
    .list__pagination__btn--prev {
      position: absolute;
      left: 0; }
    .list__pagination__btn--next {
      position: absolute;
      right: 0; }

.recipe-list {
  margin-bottom: 2rem; }
  .recipe-list__item {
    padding: 1rem;
    margin: auto;
    font-size: var(--font-regular-size); }
    .recipe-list__item:hover {
      background-color: var(--primary-main-color); }
    .recipe-list__item__link {
      display: flex;
      align-items: center; }
    .recipe-list__item__img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem; }
    .recipe-list__item__title {
      font-size: var(--font-regular-size); }

.recipe {
  flex: 1;
  background-color: var(--secondary-light-color);
  text-align: center;
  border-radius: 0 0 var(--basic-radius) 0; }
  .recipe__init-message {
    font-size: var(--font-medium-size);
    margin: 7rem; }
  .recipe__img {
    width: 100%;
    height: 30rem; }
  .recipe__info {
    position: relative;
    margin-bottom: 2rem; }
    .recipe__info__bookmark {
      position: absolute;
      top: 0;
      right: 4rem;
      font-size: var(--font-large-size); }
  .recipe__ingredients {
    text-align: center;
    margin: 2rem; }
    .recipe__ingredients__list {
      display: flex;
      flex-wrap: wrap; }
    .recipe__ingredients__item {
      flex-basis: 50%;
      margin-bottom: 0.25rem; }
  .recipe__instructions {
    text-align: center;
    margin: 4rem 2rem; }
    .recipe__instructions__video {
      display: block;
      width: 15rem;
      height: 2.5rem;
      padding-top: 0.6rem;
      margin: auto;
      margin-top: 1rem;
      color: var(--primary-main-color);
      background-color: var(--primary-light-color);
      border-radius: var(--basic-radius); }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
